.promo{
    margin-bottom: 63px;
}

.promo__content{
    border-radius: 59px;
    background-color: #F4F6F5;

    display: flex;
    column-gap: 24px;

    padding-top: 68px;
    padding-left: 120px;
}

.promo__text{

}

.promo__title{
    max-width: 480px;
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: 0%;
    text-align: left;

    margin-bottom: 40px;
}

.promo__desc{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -5%;
    text-align: left;

}

.promo__btn-wrapper{
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.promo__btn-wrapper::before{
    content: "";
    display: inline-block;
    

    width: 190px;
    height: 32px;
    
    background-image: url('./../../img/icons/decor-yellow.svg');
}

.promo__btn{
    border-radius: 10px;
    background: rgb(0, 0, 0);
    padding: 18px 40px;

    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -5%;
    text-align: left;
    
}

.highlight{
    position: relative;
    display: inline-block;
}
.highlight span{
    position: relative;
    z-index: 1;
}

.highlight::before{
    content: "";
    display: block;
    position: absolute;

    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -160px;
    transform: rotate(-2deg);

    background-color: #FFF;
}


.highlight--yellow::before{
    background-color: var(--yellow);
    right: -110px;
}