:root{
    --textColor: #000;
    --yellow: #EBD96B;
}


body{
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
}

.container{
    max-width: 1780px; /* макс ширина 1720 пикс, но из за ресета.css в нем бордер бокс мы добавляем +60px 1720+60=1780   */
    margin: 0 auto; /* по центру */
    padding: 0 30px; /* отступы по бокам шоб не прилипало к экрану по бокам*/
}

.title-2{
    display: inline-block;
    position: relative;
    
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 6%;
    text-align: left;
}
.title-2::before{
    content: "";
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    width: 190px;
    height: 32px;

    background-image: url('./../img/icons/decor-yellow.svg');
    background-repeat: no-repeat;
}